@model IEnumerable<Planner.Models.vwUsersProjects>

@{
    ViewBag.Title = "Destek Bekleyen Projeler";
    if (Convert.ToBoolean(Session["UserIsAdmin"]) != true)
    {
        Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    ViewBag.ReturnUrl = "/Project/ApprovedProjects";
}

<div class="app-projects">
    <div class="projects-wrap">
        <div class="ribbon ribbon-clip animation-slide-left animation-delay-400" style="min-width:200px">
            <span class="ribbon-inner">Destek Bekleyen Projeler</span>
        </div>
        <ul class="blocks blocks-100 blocks-lg-5 blocks-md-3 blocks-sm-2" data-plugin="animateList" data-child="li">
            @foreach (var item in Model)
            {
                <li>
                    <div class="panel" style="min-height:460px">
                        <figure class="overlay overlay-hover animation-hover">
                            <img class="caption-figure overlay-figure" src="~/Content/Site/classic/global/photos/placeholder.png" />
                            <figcaption class="overlay-panel overlay-background overlay-fade text-center vertical-align">
                                <div class="btn-group">
                                    <div class="dropdown float-left">
                                        <button type="button" class="btn btn-icon btn-pure btn-default" title="Setting"><i class="icon wb-settings" aria-hidden="true"></i></button>
                                        <div class="dropdown-menu" role="menu">
                                            <button type="button" class="dropdown-item btn" data-toggle="modal" data-target="#approveProject" data-id="@item.ProjectId">Destekle</button>
                                            @if (Convert.ToBoolean(Session["UserIsAdmin"]) != false)
                                            {
                                                <a href="@Url.Action("CloseSupportedProject", "Project", new { id = item.ProjectId })" class="dropdown-item">Projeyi Kapat</a>
                                            }
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-icon btn-pure btn-default" title="" data-tag="project-delete">
                                        <i hidden class="icon wb-trash" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-icon btn-pure btn-default" title="" data-tag="project-delete">
                                        <i hidden class="icon wb-trash" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-icon btn-pure btn-default" title="" data-tag="project-delete">
                                        <i hidden class="icon wb-trash" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-icon btn-pure btn-default" title="" data-tag="project-delete">
                                        <i hidden class="icon wb-trash" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-icon btn-pure btn-default" title="" data-tag="project-delete">
                                        <i hidden class="icon wb-trash" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-icon btn-pure btn-default" title="" data-tag="project-delete">
                                        <i hidden class="icon wb-trash" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-icon btn-pure btn-default" title="" data-tag="project-delete">
                                        <i hidden class="icon wb-trash" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-icon btn-pure btn-default" title="" data-tag="project-delete">
                                        <i hidden class="icon wb-trash" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-icon btn-pure btn-default" title="" data-tag="project-delete">
                                        <i hidden class="icon wb-trash" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-icon btn-pure btn-default" title="" data-tag="project-delete">
                                        <i hidden class="icon wb-trash" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-icon btn-pure btn-default" title="" data-tag="project-delete">
                                        <i hidden class="icon wb-trash" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-icon btn-pure btn-default" title="" data-tag="project-delete">
                                        <i hidden class="icon wb-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <a href="@Url.Action("Download", "Project", new { id = item.ProjectId })" target="_blank">
                                    <button type="button" class="btn btn-outline btn-default project-button">Görüntüle</button>
                                </a>
                            </figcaption>
                        </figure>
                        <div class="time float-right">@item.ProjectCreationDate</div>
                        <div class="text-truncate">@item.ProjectName</div>
                        <hr />
                        <div class="text-truncate">@item.UserName @item.UserSurname</div>
                        <hr />
                        <div class="text pre-scrollable" style="max-height:130px">@item.ProjectDescription</div>
                        <hr />
                        <div class="text pre-scrollable" style="max-height:130px">@item.SupportRequest</div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

@using (Html.BeginForm("SupportToProject", "Project", FormMethod.Post, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="approveProject" tabindex="-1" role="dialog" aria-labelledby="approveProject" aria-hidden="true">
        <div class="modal-dialog modal-center modal-simple" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container">
                        <div class="card card-login mx-auto mt-5">
                            <div class="modal-header">
                                <h4>Projeyi Destekle</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <input type="hidden" name="Id" id="form-id" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        Desteği Ne Karşılığında Yapmaktasınız?
                                        <textarea id="supportRequirements" name="supportRequirements" class="form-control" rows="2" cols="20" style="max-height:400px"></textarea>
                                        Destek Değeri Nedir?
                                        <textarea id="supportValue" name="supportValue" class="form-control" rows="2" cols="20" style="max-height:400px"></textarea>
                                        <br />
                                        <button type="submit" class="btn btn-danger">Destekle</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
