@model IEnumerable<Planner.Models.vwUsersProjects>

@{
    ViewBag.Title = "Onaylanmış Projeler";
    if (Convert.ToBoolean(Session["UserIsAdmin"]) != true)
    {
        Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    ViewBag.ReturnUrl = "/Project/ApprovedProjects";
}

<div class="panel" style="background-color:lightgrey">
    <header class="panel-heading">
        <h3 class="panel-title">Onay Bekleyen Projeler</h3>
    </header>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="panel-body panel-info col-md-4">
            <div class="panel nav-tabs-horizontal">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayFor(modelItem => item.ProjectName)</h3>
                </div>
                <div class="panel-body h-400" data-plugin="scrollable">
                    <div data-role="container">
                        <div data-role="content">
                            <br />
                            <h5>Proje Adı</h5>
                            @Html.DisplayFor(modelItem => item.ProjectName)
                            <h5>Proje Açıklaması</h5>
                            @Html.DisplayFor(modelItem => item.ProjectDescription)
                            <h5>Adı Soyadı</h5>
                            @Html.DisplayFor(modelItem => item.UserName)
                            @Html.DisplayFor(modelItem => item.UserSurname)
                            <h5>E-Posta</h5>
                            @Html.DisplayFor(modelItem => item.UserEMail)
                            <h5>Projeyi Görüntüle</h5>
                            <a href="@Url.Action("Download", "Project", new { id = item.ProjectId })" target="_blank" class="btn btn-info"><span class="fa fa-search"></span></a>
                            <h5>Projeyi Kimler Görsün?</h5>
                            <a href="@Url.Action("GiveAuthorizeToUserForProject", "Project", new { id = item.ProjectId, returnUrl = ViewBag.ReturnUrl })" class="btn btn-warning"><span class="fa fa-user-secret"></span></a>
                            <h5>Projeyi Kimler Görebiliyor?</h5>
                            <a href="@Url.Action("ProjectAuthorizedUser", "Project", new { id = item.ProjectId, returnUrl = ViewBag.ReturnUrl })" class="btn btn-info"><span class="fa fa-user-secret"></span></a>
                            <h5>Projeyi Onayla</h5>
                            <a href="@Url.Action("ApproveProject", "Project", new { id = item.ProjectId, returnUrl = ViewBag.ReturnUrl })" class="btn btn-success"><span class="fa fa-thumbs-up"></span></a>
                            <h5>Projeyi Reddet</h5>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#approveProject" data-id="@item.ProjectId"><span class="fa fa-thumbs-down"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@using (Html.BeginForm("RejectProject", "Project", FormMethod.Post, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="approveProject" tabindex="-1" role="dialog" aria-labelledby="approveProject" aria-hidden="true">
        <div class="modal-dialog modal-center modal-simple" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container">
                        <div class="card card-login mx-auto mt-5">
                            <div class="modal-header">
                                <h4>Projeyi Reddet</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <input type="hidden" name="Id" id="form-id" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        Neden Reddediyorsunuz?
                                        <textarea id="declineCause" name="declineCause" class="form-control" rows="2" cols="20" style="max-height:400px"></textarea>
                                        <br />
                                        <button type="submit" class="btn btn-danger">Reddet</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}