@model Planner.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Şifremi Unuttum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <section class="text-white" id="forgotPasswordForm">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>@ViewBag.Title</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="col-md-offset-2 col-md-auto">
                <input type="submit" class="btn btn-default" value="Şifre Gönder" />
            </div>
        }
    </section>
</div>