@model Planner.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<html class="no-js css-menubar" lang="tr">
<body class="animsition page-login-v2 layout-full page-dark">
    <div class="page" data-animsition-in="fade-in" data-animsition-out="fade-out">
        <div class="page-content">
            <div class="page-brand-info">
                <div class="brand">
                    <a href="/Home"><img class="brand-img" src="~/Content/Site/classic/iconbar/assets/images/ci_tech.png" style="max-height:45px;max-width:45px" alt="Proje Sepeti"></a>
                    <h2 class="brand-text font-size-30">Proje Sepeti</h2>
                </div>
            </div>
            <div class="page-login-main animation-slide-right animation-duration-1">
                <h3 class="font-size-24">Giriş Yap</h3>
                <h6 style="color:red">@ViewBag.Message</h6>
                <h6 style="color:blue"><a href="@ViewBag.Url">@ViewBag.Message2</a></h6>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.EMail, new { @class = "sr-only" })
                        @Html.TextBoxFor(m => m.EMail, new { @class = "form-control", placeholder = "E-Postanızı Giriniz" })
                        @Html.ValidationMessageFor(m => m.EMail, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Şifrenizi Giriniz" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group clearfix">
                        <div class="checkbox-custom checkbox-inline checkbox-primary float-left">
                            <input type="checkbox" id="rememberMe" name="rememberMe">
                            <label for="rememberMe">Beni Hatırla</label>
                        </div>
                        <a class="float-right" href="ForgotPassword">Şifremi Unuttum?</a>
                    </div>
                    <div class="form-group col-md-auto">
                        <input type="submit" value="Giriş Yap" class="btn btn-primary btn-block" />
                    </div>
                }
                <p>Hesabınız yoksa <a href="Register">buradan kayıt olun</a></p>
                <footer class="page-copyright">
                    <p>© @DateTime.Now.Year Tüm Hakları Saklıdır.</p>
                    <div class="social">
                        <a class="btn btn-icon btn-round social-twitter mx-5" href="javascript:void(0)">
                            <i class="icon bd-twitter" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-icon btn-round social-facebook mx-5" href="javascript:void(0)">
                            <i class="icon bd-facebook" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-icon btn-round social-google-plus mx-5" href="javascript:void(0)">
                            <i class="icon bd-google-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>