@model IEnumerable<Planner.DataAccess.Users>

@{
    ViewBag.Title = "Onaylanmış Kullanıcılar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ReturnUrl = "/User/ApprovedUsers";
}

<div class="panel">
    <header class="panel-heading">
        <div class="ribbon ribbon-clip" style="min-width:200px">
            <span class="ribbon-inner">Onaylanmış Kullanıcılar</span>
        </div>
        <h3 class="panel-title">*</h3>
    </header>
    <div class="panel-body">
        <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable">
            <thead>
                <tr>
                    <th>E-Posta</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>T.C. Kimlik No</th>
                    <th>Kayıt Tarihi</th>
                    <th>Engelle</th>
                    <th>Admin Yap</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.EMail)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Surname)</td>
                        <td>@Html.DisplayFor(modelItem => item.CitizenshipNo)</td>
                        <td>@Html.DisplayFor(modelItem => item.RegisterDate)</td>
                        <td><a href="@Url.Action("BlockUser", "User", new { id = item.Id, returnUrl = ViewBag.ReturnUrl })" class="btn btn-block btn-dark">Kullanıcıyı Engelle</a></td>
                        @if (item.IsAdmin != true)
                        {
                            <td><a href="@Url.Action("AssignUserAsAdmin", "User", new { id = item.Id, returnUrl = ViewBag.ReturnUrl })" class="btn btn-block btn-warning">Admin Yap</a></td>
                        }
                        else
                        {
                            <td style="text-align:center">Admin Kullanıcı</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>