@model IEnumerable<Planner.Models.User>

@{
    ViewBag.Title = "Tüm Kullanıcılar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ReturnUrl = "/User/UserIndex";
}
@if (Convert.ToBoolean(Session["UserIsAdmin"]) == true)
{
    <div class="panel">
        <header class="panel-heading">
            <div class="panel-actions"></div>
            <h3 class="panel-title"></h3>
        </header>
        <div class="panel-body">
            <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable">
                <thead>
                    <tr>
                        <th>E-Posta</th>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>T.C. Kimlik No</th>
                        <th>Kayıt Tarihi</th>
                        <th>Onayla</th>
                        <th>Reddet</th>
                        <th>Admin Yap</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.EMail)</td>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Surname)</td>
                            <td>@Html.DisplayFor(modelItem => item.CitizenshipNo)</td>
                            <td>@Html.DisplayFor(modelItem => item.RegisterDate)</td>
                            @if (item.IsApproved == 4)
                            {
                                <td><a href="@Url.Action("BlockUser", "User", new { id = item.Id, returnUrl = ViewBag.ReturnUrl })" class="btn btn-block btn-dark">Kullanıcıyı Dondur</a></td>
                                <td></td>
                            }
                            @if (item.IsApproved == 3)
                            {
                                <td><a href="@Url.Action("ApproveAfterBlockUser", "User", new { id = item.Id, returnUrl = ViewBag.ReturnUrl })" class="btn btn-block btn-info">Kullanıcı Engelini Aç</a></td>
                                <td></td>
                            }
                            @if (item.IsApproved == 2)
                            {
                                <td><a href="@Url.Action("BlockUser", "User", new { id = item.Id, returnUrl = ViewBag.ReturnUrl })" class="btn btn-block btn-dark">Kullanıcıyı Dondur</a></td>
                                <td></td>
                            }
                            @if (item.IsApproved == 1)
                            {
                                <td><a href="@Url.Action("ApproveUser", "User", new { id = item.Id, returnUrl = ViewBag.ReturnUrl })" class="btn btn-block btn-success">Onayla</a></td>
                                <td><a href="@Url.Action("DeclineUser", "User", new { id = item.Id, returnUrl = ViewBag.ReturnUrl })" class="btn btn-block btn-danger">Reddet</a></td>
                            }
                            @if (item.IsAdmin != true)
                            {
                                <td><a href="@Url.Action("ChangeUserToAdmin", "User", new { id = item.Id, returnUrl = ViewBag.ReturnUrl })" class="btn btn-block btn-warning">Admin Yap</a></td>
                            }
                            else
                            {
                                <td style="text-align:center">Admin Kullanıcı</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}